*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;http://127.0.0.1:3004/Index.html
}

body::-webkit-scrollbar{
    display: none;
}
.container{
   width: 100vw;
   height: 100vh;
   /* min-height: 1300px; */
   background-color:#89CFF0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card{
    width: 310px;
    height: 600px;
    background-color:#E8FFCE;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition:all 0.6s linear;
}

.card:hover{
    transform: scale(1.1);
}
.card img{
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 7%;
    box-shadow:
    0px -25px 20px -20px rgba(0,0,0,0.45),
    25px 0px 20px -20px rgba(0,0,0,0.45),
    0px 25px 20px -20px rgba(0,0,0,0.45),
    -25px 0px 20px -20px rgba(0,0,0,0.45);
}
.card h2 {
    margin: 10px;
    padding: 18px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    }
.card h3{
    margin: 5px;
    padding: 20px;
    text-shadow: 3px 2px rgb(189, 186, 186);
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
}
@media (min-width:200px) and (max-width:600px) {
    .container{
        background-color: aquamarine;
    }
    .card{
        background-color: #E1EBEE;
    }
}

